<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/711A1/Server/ServerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerService"
                contract="ServiceReference1.IServerService" name="BasicHttpBinding_IServerService" />
        </client>
    </system.serviceModel>
</configuration>